<div class="notification-main">
        <div class="notification">
                <% notifications = @notifications.where.not(checked: true ) %>
                        <% if notifications.exists? %>
                                <%= render notifications %>
                                <%= paginate notifications %>
                        <% else %>
                                <p>未確認の通知はありません</p>
                        <% end %>
        </div>
</div>


        