
//白
$cWhite: white;
//黒
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;


// 青系
$cTeal: teal;
$cBlue:#007bff;
$cAqua:aqua;
$light_blue:#1da1f3;
$clight_blue:aliceblue;
$dark_navy:rgb(0,0,60);

// グレー系
$dark_gray:#666666;
$cBgGray:#eaebe6;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;
$cSubTitle:#535353;

// シアン系
$dark_cyan: #448888;
$very_dark_cyan:darken($dark_cyan, 25%);

// 赤系
$cRed:red;
$cWineRed: #904669;
$dark_magenta: #E85298;

//その他
$cSliver:#C0C0C0;