$cWhite: white;
$cBlack: black;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;
$cAqua:aqua;
$cTeal: teal;
$cSubTitle:#535353;
$cSliver:#C0C0C0;

// 青系
$cBlue:#007bff;
$light_blue:#1da1f3;
$clight_blue:aliceblue;
$dark_navy:rgb(0,0,60);
// グレー系
$dark_gray:#666666;
$cBgGray:#eaebe6;
$light_gray: #eeeeee;
$very_light_gray: #fafafa;

// シアン系
$dark_cyan: #448888;
$very_dark_cyan:darken($dark_cyan, 25%);

// 赤系
$cRed:red;
$cWineRed: #904669;
$dark_magenta: #E85298;