/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 * 
 *= require_self
*/


@import "modules/animation";
@import "modules/color";
@import "modules/dimensions";
@import "users";
@import "modules/image";
@import "button";
@import "missions";
@import "loader";

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'swiper/swiper-bundle';

@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=Noto+Sans+JP&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Kameron","Noto Sans JP", sans-serif;
}

.fa {
  font-family: "Font Awesome 5 Free";
}

.content-width {
  width:90%;
  margin: 0 auto;
  max-width:$contentMaxWidth;
}

.flex {
  display: flex;
  // flex-direction: column;
}

i {
  font-size: 1.3em;
  width: auto;
  padding:0;
  margin:0;
  background:none;
  border:0;
  // font-size:0;
  line-height:0;
  overflow:visible;
  cursor:pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.alert {
  z-index: 200;
  color: $cRed;
}

.notice {
  z-index: 200;
  color:$cWineRed;
}

#container {
  position: relative;
  background-color: $cWhite;
  // height: 100vh;
  z-index: 2;
  transition: all 0.5s;
  text-align: center;
}

.mission-container {
  position: relative;
  background-color: $cWhite;
  // height: 100vh;
  z-index: 2;
  transition: all 0.5s;
}

.header-menu {
    position: fixed;
    right: 0;
    top: 60px;
    width: 300px;
    z-index: 1;
    
    &__btn {
      background-color: unset;
      border: none;
      outline: none !important;
      cursor: pointer;
      margin-right: 27px;
      
      & > span {
          background-color: $cMenuClose;
          width: 35px;
          height: 2px;
          display: block;
          margin-bottom: 9px;
          transition: transform 0.7s;
          
          &:last-child {
          margin-bottom: 0px;
        }
      }
  }
  &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s;
      cursor: pointer;
  }

  & > .logo {
    opacity: 0;
  }

  &__main {
    padding: 0;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  &__item {
      list-style: none;
      display: block;
      transform: translate3d(0, 0, -1000px);
      padding: 0 40px;
      transition: transform 0.3s, opacity 0.2s;
      opacity:0;
      margin-bottom: 10px;
  }
  &__link {
      display: block;
      margin-top: 30px;
      color: $cBlack;
      text-decoration: none;
  }
}

.menu-open {
  & #container {
    transform: translate(-300px, 60px);
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
  }

  & .header-menu {
    &__cover {
        opacity: 1;
        visibility: visible;
    }

    & > .logo {
      opacity: 1;
      transition-delay: 0.07s;
      margin-bottom: 20px;
    }

    &__item {
        transform: none;
        opacity: 1;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.07s;
            }
        }
    }
    &__btn {
      & > span {
          background-color: $cMenuOpen;

          &:nth-child(1) {
              transition-delay: 70ms;
              transform: translateY(11px) rotate(135deg);
          }
          &:nth-child(2) {
              transition-delay: 0s;
              transform:  translateX(-18px) scaleX(0);
          }
          &:nth-child(3) {
              transition-delay: 140ms;
              transform: translateY(-11px) rotate(-135deg);
          }
      }
    }
  }
}

.main-title {
    font-weight: 600;
    display: block;
    @extend .font-lg;
    color: $cSubTitle;
    margin-bottom: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $cBlue;
      transition: 1s ease;
    }
}

  
.header {
  // margin-bottom: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: aliceblue;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 10;
  opacity: 1;

  & > logo {
    font-size: 42px;
    display: block;
    margin: 0 auto;
  
    &__img {
      width: 0.7em;
    }
    &__manager {
      color: #d40c26;;
    }
  }
  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  &_li {
    margin-left: 20px;
    }
}

h1 {
  font-size:30px;
  color:$cWineRed;
}

h2 {
  color:$cSubTitle;
  font-weight: 600;
  letter-spacing: 0.1em;
}

ul {
  list-style: none;
}

.inactive {
  opacity: 0.6;
}

main {
  flex: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}

#global-container{
  min-height: 100vh;
  #container {
    min-height: 100vh;
  }
}

.footer { 
  width: 100%;
  background: aliceblue;
  margin-top: 150px;
  bottom: 0;
  position: fixed;


  &__nav {
    @extend .flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__ul {
    @extend .flex;
    padding: 0;
    margin: 0;
  }

  &__li {
    padding: 0;
    margin: 10px;
    float: left;
  }

  &__item {
    font-size: 38px;
    justify-content: center;
  }
}


.logo {
  font-size: 42px;
  display: block;
  text-align: left;
  margin: 0 auto;

  &__img {
    width: 0.7em;
  }
  &__manager {
    color: #d40c26;
  }
}

.footer__item  {
  font-weight: 600;
  font-size: 25px;
}

#error_explanation {
  color: $cRed;
  ul {
    color: $cRed;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control {
    color: $cRed;
  }
}

// users
.generic-form {
  width: 480px;
  margin: $wide * 2 auto;
  padding: $wide * 2;
  border-radius: $wide;
  border: solid 4px $very_dark_cyan;
  background-color: #fafafa;

  form {
    div {
      padding: $wide;
      label {
        display: block;
        padding: $moderate 0;
      }
      label.required:after {
        content: "*";
        padding-left: $narrow;
        color: $cRed;
      }
    }
    div.notes {
      text-align: right;
      font-size: $small;
      span.mark { color: $cRed; }
    }
    div.actions {
      text-align: center;
      input[type="submit"] {
        padding: $wide $wide * 2;
      }
    }
  }
}

#container {
  #login-form {
    min-height: 100vh;
    padding:100px 0;
    background-color: $very_light_gray;
    box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
    background-image:url("image-1.jpg");
    background-size: cover;
  h1 {
    display: inline-block;
    border-bottom: solid 4px gray;
    background-color: transparent;
    font-size: $huge;
    font-weight: bold;
    color: rgba(255, 255, 255, 1.0);
  }

  form {
    div {
      padding: $wide;
      label {
        display: block;
        padding: $moderate 0;
        color: rgba(255, 255, 255, 1.0);
      }
      input[type = "text"], input[type="password"] {
        // padding: $wide;
        margin-top: 10px;
        width: 274px;
        height: 50px;
        border: 1px solid black;
        text-align: center;
      }
      input[type = "text"], input[type="email"] {
        margin-top:30px;
        width: 274px;
        height: 50px;
        text-align: center;
        border: 1px solid black;
        text-align: center;
        font-weight: 600;
        letter-spacing: 0.1em;
      }
      input[type = "submit"] {
        width: $wide $wide * 2;
        height: 30px;
        text-align: center;
        }
        li {
          display: inline-block;
        }
      }
  }



.actions {

      .cover-3d {
        height: 3em;
        margin-top: 30px;
      }
      .link_tag {
        margin-top: 10px;
        color: rgba(255, 255, 255, 1.0);
        
        &:hover {
          color: $cAqua;
          font-weight: bold;
        }
      }
    }
  }
}


#header-index {
  padding: $moderate;
  color: $very_light_gray;
  .logo-mark {
    float: none;
    text-decoration: none;
    font-weight: bold;
  }
}

.fa-bell{
  position: relative;
}

.fa-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

.badge:after{
  content:"";
  position: absolute;
  background: #fff;
  height:6px;
  width:6px;
  top:-2px;
  right:-5px;
  text-align: center;
  border-radius: 50%;
  color:white;
}

.stat {
  margin:0 auto;
  text-decoration: center;
  text-decoration: none !important;
  color: $cSubTitle;
}

#penalty-content {
  color: $cRed;
}

#failure {
  color: $cRed;
}

.user_name {
  color: $light_blue;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.red {
  color: #d40c26;;
}


.cover-slide {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eaebe6;
    opacity: 0;
  }
  &.inview {
    &::after {
      opacity: 1;

      @include animation(
        $name: kf-cover-slide,
        $duration: 1.6s,
        $timing-function: ease-in-out
      );
    }
  }
}

@mixin p-base($which: before, $top: 0, $left: 0, $content: "", $position: absolute, $width: 100%, $height: 100%, $display: block) {
  &::#{$which} {
    display: $display;
    content: $content;
    position: $position;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    @content;
  }
}

.top {
  @extend .content-width;
  @extend .mb-lg;
  // margin-top: 100px;

  &__inner {
    @extend .flex;
    padding: 15px;
    justify-content: space-between;
    background-color:$cBgGray;
    position: relative;
    z-index: 0;
  }

  &__title {
      position: relative;
      font-size: 25px;

      @include p-base($display: block, $width: 100px, $height: 1px, $top: 50%, $left: -110px) {
        background-color: $cBlack;
        transform: translateY(-50%) scaleX(0);
        transition: transform 0.3s ease 1.6s;
        transform-origin: right;
      }    
      &.inview {
        &::before {
          transform: translateY(-50%);
        }

      }
  }

  &__sub {
    @extend .mb-sm;
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;
    box-shadow: inset 0 0 30px $cBlack;
    
    
    & > img {
      position: relative;  
      z-index: -1;
      object-fit: cover;
      width:100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__description {
    letter-spacing: 0.2em;
    & > p {
      margin-bottom: 10px;
    }
  }

  &__texts {
    @extend .pb-sm;
    display: flex;
    align-items: center;

    &.inview {
      & .top__title::before {
        transform: translateY(-50%);
        transform-origin: right;
      }
    }
  }
  
}

.guest_login {
  width: auto;
  padding:0;
  margin:0;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: $cSubTitle;
  &:hover {
    color: $light_blue;
    transition: 1s ease;
  }
}

.remenber_me {
  p {
    display: inline-block;
  } 
    

}


h4 {
  letter-spacing: 0.2em;
}

.gravatar {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  border: solid 1px #ccc; 
  cursor: pointer;
  background: url(画像のurlを挿入する);
  background-size: 101%;
  background-position: top left;
  border-radius: 100%;
  margin: 10px auto;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fa-trash {
  color: $cBlack;
}

.comment-form {
  width: 222px;
  height: 52px;
  margin-top: 30px;
  border-radius: 3px;
  margin-left: 15px;
}

.mission-content {
  width: 222px;
  height: 52px;
  margin-left: 15px;
}

.notification-index {
  padding: 1.5em 1em;
  margin: 2em auto;
  background-color: #eaebe6;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1.0);
  width: 50%;
  text-align: center;
  letter-spacing: 0.1em;

  li {
    display: inline-block;
  }
}

.swiper-container {
  overflow: hidden !important;
}

.swiper-slide {
  height: 500px;
  overflow: hidden;

  & > img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transform: scale(1.3);
    transition: transform 1.9s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 125, 0.1);
  }

  &-active {
    & > img {
      transform: none;
    }

    & .hero__title {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

.hero {
  padding-bottom: 150px !important;
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 20px));
    color: $cWhite;
    font-size: 25px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease 1s, transform 0.3s ease 1s;
  }

  &__footer {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 2;
    height: 68px;
    width: 22px;
    overflow: hidden;
  }

  &__downarrow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
    @include animation(
      $name: kf-arrow-anime,
      $iteration-count: infinite,
      $duration: 2s,
      $timing-function: linear
    );
  }

  &__scrolltext {
    position: absolute;
    transform: rotate(90deg);
    color: rgba(255, 255, 255, 0.7);
    left: -8px;
    top: 11px;
    font-size: 1.2em;
  }
}


