@import "modules/color";

.mission {
  padding: 1.5em 1em;
  margin: 2em auto;
  background-color: #eaebe6;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1.0);
  width: 50%;
  text-align: center;
  letter-spacing: 0.1em;

  // p {
  //   display: inline-block;
  // }

  & .penalty {
    color:$cSubTitle;
    font-size:20px;
  }
  h2 {
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 10px;
    letter-spacing: 0.2em;
  }
  h4 {
    margin-bottom: 8px;
  }
  ul {
    margin-top: 10px;
  }
  li {
    margin-bottom: 10px;
    
  }
  #detail {
    margin-left: 12px;
  }
}

#RealtimeCountdownArea {
  color: $cRed;
  font-weight: 600;
  letter-spacing: 0.2em;
}

.mission-detail {
  padding-top: 10px;
}


.new-mission {
  display:block;
  text-align:center;
}


.mission-form {
  &__li {
    margin-bottom: 20px;
  }

  .mission-penalty {
    width: 210px;
    height: 31px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }
  h3 {
    letter-spacing: 0.1em;
  }
  .mission-deadline {
    width: 100px;
    height: 20px;
    text-align: center;
    font-weight: 600;
    }
  }
  
  h4 {
    margin-bottom: 5px;
  }


.mission-index {
  margin-top: 10px;
  h2 {
    margin-bottom:10px;
  }
  
}

.mission-complete {
  margin-top: 20px;
}

.mission-edit {
  padding: 1.5em 1em;
  margin: 2em auto;
  background-color: #eaebe6;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1.0);
  width: 70%;
  text-align: center;
  letter-spacing: 0.1em;

  .mission-content {
    width: 146px;
    height: 65px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }
  .mission-penalty {
    width: 140px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }

  label {
    letter-spacing: 0.2em;
    margin-left: 10px;
  }
}


.mission-new {
  padding: 1.5em 1em;
  margin: 2em auto;
  background-color: #eaebe6;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 1.0);
  width: 70%;
  text-align: center;
  letter-spacing: 0.1em;
}

.hidden_box {
  margin: 2em 0;
  padding: 0;
  
  label {
    padding: 15px;
    font-weight: bold;
    border:none;
    cursor :pointer;
    
    &:hover {
      color: $light_blue;
      transition: all 0.5s ease-in-out;
    }
  }

  input {
    display: none;
  }

  & > .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
  }
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
  margin-top: 15px;
}