// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "modules/color";
@import "modules/dimensions";

.visited_user {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.current_user {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.says {
  p {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 10px;
  padding: 10px;
  max-width: 250px;
  border-radius: 12px;
  background-color: #edf1ee;
  color: $cBlack;
  
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 3px; 
      left: -19px;
      border: 8px solid transparent;
      border-right: 18px solid #edf1ee;
      -webkit-transform: rotate(35deg);
      transform: rotate(35deg);
      }
  }
}

.message-form {
  background-color: $cWhite;
  text-align: center;

}

.text-form {
  margin-top: 100px;
  border-radius: 10px;
  border-color: $dark_gray;
  width: 300px;
  height: 40px;
  
  &:focus {
    box-shadow: 0 0 5px 0 $light_blue;
    border: 2px solid #FFF !important;
    outline: 0;
  }
}

.guest_user {
  font-weight: 600;
    display: block;
    @extend .font-lg;
    color: $cSubTitle;
    margin-bottom: 10px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $cBlue;
      transition: 1s ease;
    }
}

.fa-check-circle {
  color: $light_blue;
}

.line-bc {
  padding: 50px 5px 5px 5px;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  min-height: 10vh;
}

.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;

  .chatting {
    width: 100%;
    text-align: left;
  }
}

.user-in{
  width: 100%;
  text-align:center;
  border:1px solid darkgray;
  background-color:$dark_navy;
  background-size: cover;
  padding: 10px 0;
  position: fixed;
  z-index: 2;

  a {
    text-decoration: none;
    color: $cWhite;
  }
}

.user-detail {
  width: 50%;
  padding: 10px 0;
  border:1px solid darkgray;
  background-color:$cBgGray;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.mycomment {
  margin:  0;
  p {
    display: inline-block;
    position: relative; 
    margin: 0 10px 0 0;
    padding: 8px;
    max-width: 250px;
    border-radius: 12px;
    background: #30e852;
    font-size: 15px;

    &::after {
      content: "";
      position: absolute;
      top: 3px; 
      right: -19px;
      border: 8px solid transparent;
      border-left: 18px solid #30e852;
      -webkit-transform: rotate(-35deg);
      transform: rotate(-35deg);
    }
  }
}

.user-mission {
  text-align: center;
  margin-bottom: 100px;

  ul {
    color: #1e366a;
    border: dotted #1e366a 1px;
    padding: 0.5em 0.5em 0.5em 2em;
    width: 50%;
    margin: 0 auto;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
  }
  ul, li {
    line-height: 1.5;
    padding: 0.5em 0;
  }
  li {
    text-align: left;
  }

  h3 {
    margin-top: 20px;
  }
}

.user-index {
  
  h2 {
    text-align: center;
  }
}