      <div class="logo">
            <%= image_tag 'logo.svg', class:"logo__img" %>
                  <span class="logo__TM">TM</span>
                  <span class="logo__manager">Manager</span>
      </div>

            <div class="header__inner">
                  <button class="header-menu__btn">
                        <span></span>
                        <span></span>
                        <span></span>
                  </button>
            </div>   


